@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}

.scroll-container {
  max-height: calc(100vh - 150px);
  overflow:hidden;
  overflow-y:auto;
}
.scroll-container::-webkit-scrollbar {
  width: 8px;
}
.scroll-container::-webkit-scrollbar-track {
  background: rgba(63, 81, 181, 0.9);
}
.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.22);
}
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 0.67);
}
.scroll-container::-webkit-scrollbar-button {
  display: none;
}
/* Firefox Browsers*/
@supports (-moz-appearance: none) {
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(63, 81, 181, 0.9) #f1f1f1;
  }
}

.input-direction-label {
  display: flex;
  align-items: center;
  font-size: 16px; /* Adjust font size as needed */
}

.label-help {
  color: #3f51b5;
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px; /* Adjust spacing between label and icon */
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container tri-button {
  //width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editJoint {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width: 100%;
  max-height: calc(90vh - 30px);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disabled-panel {
  opacity: 0.5; /* Adjust the opacity to control the greying out effect */
  pointer-events: none; /* Disable user interactions */
}

.left-aligned {
  margin-right: auto; /* Pushes this element to the left */
}

.right-aligned {
  margin-left: auto; /* Pushes this element to the right */
}

.row {
  display: flex;
  justify-content: center; /* Center the items within the row */
  align-items: center;
}

button {
  background-color: white;
  border: none;
  height: 25px;
  width: 25px;
  text-align: center;
  align-items: center;
}
