<div id="editJoint">
<!--  JOINT PANEL-->
  <panel-section-collapsible>
    <title-block icon='expand_more' description='' class = "editHeader"
      >Edit Joint
      {{this.getJointName()}}
    </title-block>
    <p>This is where you edit joints. Change things such as the position.</p>
  </panel-section-collapsible>

  <!-- BASIC SETTING DROPDOWN -->
  <collapsible-subsection titleLabel='Basic Settings' [expanded]="graphExpanded['basicBasic']"
                          (opened)="graphExpanded['basicBasic'] = true"
                          (closed)="graphExpanded['basicBasic'] = false">

    <div class="flex-container">
      <dual-input-block [formControl1]=getJointXCoord() [formControl2]=getJointYCoord()
                        label1="X"
                        label2="Y"
        tooltip = "The location of the Joint in X and Y Positions">
        Input X and Y positions
      </dual-input-block>

    </div>
  </collapsible-subsection>

  <!-- ADVANCED SETTING DROPDOWN -->
  <collapsible-subsection titleLabel='Advanced Settings' [expanded]="graphExpanded['advancedSettingsBasic']"
                          (opened)="graphExpanded['advancedSettingsBasic'] = true"
                          (closed)="graphExpanded['advancedSettingsBasic'] = false">
    <app-toggle tooltip="This toggle will enable or disable grounding!"
                label="Toggle Ground" [initialValue]="true"
                (valueChanged)="handleToggleGroundChange($event)"></app-toggle>

    <tri-button btn1Text="Weld" btn2Text="Unweld"
                [btn1Disabled]="!getCurrentJoint().canAddWeld() || getCurrentJoint().isWelded"
                [btn2Disabled]="!getCurrentJoint().canAddWeld() || !getCurrentJoint().isWelded"
                [btn1Action]= "weldJoint" [btn2Action]="unweldJoint"
                [joint]=getCurrentJoint()></tri-button>
    <tri-button btn1Text="Add Input" btn2Text="Remove Input"
                [btn1Disabled]=false
                [btn2Disabled]="!getCurrentJoint().canAddInput() || !getCurrentJoint().isInput"
                [btn1Action]= "makeInput" [btn2Action]="removeInput"
                [joint]=getCurrentJoint()></tri-button>
    <tri-button *ngIf="getCurrentJoint().isInput"
                btn1Text="Set Input Counter Clockwise" btn2Text="Set Input Clockwise"
                [btn1Disabled]="!getCurrentJoint().canAddInput() || getCurrentJoint().isInput"
                [btn2Disabled]="!getCurrentJoint().canAddInput() || !getCurrentJoint().isInput"
                [btn1Action]= "makeInputCounterClockwise" [btn2Action]="makeInputClockwise"
                [joint]=getCurrentJoint()></tri-button>
  </collapsible-subsection>
</div>
