<div id="editJoint">
<!--  JOINT PANEL-->
  <panel-section-collapsible>
    <title-block icon='expand_more' description='' class = "editHeader"
      >Edit Joint
      {{this.getJointName()}}
    </title-block>
    <p>This is where you edit joints. Change things such as the position.</p>
  </panel-section-collapsible>

  <!-- BASIC SETTING DROPDOWN -->
  <collapsible-subsection titleLabel='Basic Settings' [expanded]="graphExpanded['basicBasic']"
                          (opened)="graphExpanded['basicBasic'] = true"
                          (closed)="graphExpanded['basicBasic'] = false">

    <div class="flex-container">
      <dual-input-block [formControl1]=getJointXCoord() [formControl2]=getJointYCoord()
                        label1="This is X Label"
        tooltip = "The location of the Joint in X and Y Positions">
        Input X and Y positions
      </dual-input-block>

      <toggle-block [formControl]= jointGroundedFormControl
                    _formControl='ground'
                    (toggleStateChanged)="handleToggleStateChange($event)">
        Grounded Joint
      </toggle-block>
      <!-- Toggle Debugging stuff
      <div *ngIf="jointGroundedFormControl.value">Toggle is On</div>
      <div *ngIf="!jointGroundedFormControl.value">Toggle is Off</div>
      -->

      <tri-button btn1Text="Add Ground" btn2Text="Remove Ground" btn3Text='text Three'
      [btn1Action]= "groundJoint" [btn2Action]="ungroundJoint"
      [joint]=getCurrentJoint()></tri-button>
      <toggle-block>
        Sliding Joint
      </toggle-block>
    </div>
  </collapsible-subsection>

  <!-- ADVANCED SETTING DROPDOWN -->
  <collapsible-subsection titleLabel='Advanced Settings' [expanded]="graphExpanded['advancedSettingsBasic']"
                          (opened)="graphExpanded['advancedSettingsBasic'] = true"
                          (closed)="graphExpanded['advancedSettingsBasic'] = false">

  </collapsible-subsection>
</div>
