<!--
<panel-section-collapsible
  [warning]='true'
  [expanded]='false'
  id='placeholderContainer'
  *ngIf="hideEditPanel() && this.activeSrv.objType !== 'Grid'"
>
  <title-block
    alwaysShown
    icon='expand_more'
    description='Stop animation or reset the time slider to 0 to edit.'
  >Edit Help
  </title-block>
  <img src='assets/gifs/Stop.gif' />
</panel-section-collapsible>

<panel-section-collapsible
  [warning]='true'
  [expanded]='false'
  id='placeholderContainer'
  *ngIf="
      (this.activeSrv.objType == 'Grid' || this.activeSrv.objType == 'Nothing') &&
      mechanismService.joints.length == 0 &&
      !hideEditPanel()
    "
>
  <title-block
    alwaysShown
    icon='expand_more'
    description='Right click on the grid to create a link.'
  >Edit Help
  </title-block>
  <img src='assets/gifs/Create.gif' />
</panel-section-collapsible>
-->
<div id="editJoint">
<!--  JOINT PANEL-->
  <collapsible-subsection titleLabel="">
    <panel-section-collapsible>
      <title-block icon='expand_more' description='' class = "editHeader"
      >Edit Joint
      </title-block>
      <p>Hello edit panel is working</p>
    </panel-section-collapsible>
  </collapsible-subsection>
  <collapsible-subsection titleLabel='Basic Settings' [expanded]="graphExpanded['basicBasic']"
                          (opened)="graphExpanded['basicBasic'] = true"
                          (closed)="graphExpanded['basicBasic'] = false"
                          class="panel-header">
  <p>we are open!</p>
  </collapsible-subsection>

</div>
