@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $typography-config: mat.get-typography-config($theme);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
}

#editJoint {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:100%;
  max-height:calc(90vh - 30px);;
  overflow-y:scroll;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.disabled-panel {
  opacity: 0.5; /* Adjust the opacity to control the greying out effect */
  pointer-events: none; /* Disable user interactions */
}

.left-aligned {
  margin-right: auto; /* Pushes this element to the left */
}

.right-aligned {
  margin-left: auto; /* Pushes this element to the right */
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: white;
  border: none;
  height: 25px;
  width: 25px;
  text-align: center;
}