<div>
    <div class="app-sidenav-container">
        <mat-button-toggle-group class="sidenav-toggle-container" name="modeSelect" aria-label="Mode Select">
            <mat-button-toggle class="sidenav-button" value="bold">Synthesize</mat-button-toggle>
            <mat-button-toggle class="sidenav-button" value="italic">Edit</mat-button-toggle>
            <mat-button-toggle class="sidenav-button" value="underline">Analyze</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="app-panel-container">
    <button mat-button></button>


    </div>
</div>