<div class="app-sidenav-container">
    <nav class="side-nav">
        @for(tab of this.tabs; track $index){
        <button class ="sidenav-button"
                [ngClass]="{'selected': tab.selected}"
                (click)="setCurrentTab(tab.label)">
                <img
                [src]="tab.icon">
                {{tab.label}}
        </button>
        }
    </nav>
    <div class="app-panel-container">
        @switch(getSelected()){
            @case ('Edit'){
            <app-edit-panel></app-edit-panel>
            }
            @case ('Synthesize'){
                <p>Synthesize</p>
            }
            @case ('Analyze'){
            <app-analysis-panel></app-analysis-panel>
            }

        }
    </div>
</div>
