<div id="jointAnalysisPanel">
<!--  JOINT PANEL-->
  <!-- TITLE BLOCK: CONTAINS TITLE, INPUT SECTION FOR JOINT NAME, EDIT AND DELETE SVGS -->
  <panel-section-collapsible>
    <title-block icon='expand_more' description='' class = "editHeader"
      >Analysis for Joint
      {{ getJointName() }}
    </title-block>

  </panel-section-collapsible>

  <!-- DATA SUMMARY DROPDOWN -->

  <collapsible-subsection titleLabel='Data Summary' [expanded]="graphExpanded['dataSummary']"
                          (opened)="graphExpanded['dataSummary'] = true"
                          (closed)="graphExpanded['dataSummary'] = false">
        <div class="flex-container">
          <p>Data Summary</p>
          Name of Joint: {{ getJointName() }} <br>
          X Coordinate of Joint: {{ this.getJointXCoord() }} <br>
          Y Coordinate of Joint: {{ this.getJointYCoord() }} <br>
        </div>
  </collapsible-subsection>


  <collapsible-subsection titleLabel='Graphical Analysis' [expanded]="graphExpanded['graphicalAnalysis']"
                                (opened)="graphExpanded['graphicalAnalysis'] = true"
                                (closed)="graphExpanded['graphicalAnalysis'] = false">
    <collapsible-subsection titleLabel='Position of Joint' [expanded]="graphExpanded['positionOfJoint']"
                            (opened)="graphExpanded['positionOfJoint'] = true"
                            (closed)="graphExpanded['positionOfJoint'] = false">
      <p>position graph placeholder aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa



      </p>
    </collapsible-subsection>
    <collapsible-subsection titleLabel='Velocity of Joint' [expanded]="graphExpanded['velocityOfJoint']"
                            (opened)="graphExpanded['velocityOfJoint'] = true"
                            (closed)="graphExpanded['velocityOfJoint'] = false">
      <p>velocity graph placeholder



      </p>
    </collapsible-subsection>
    <collapsible-subsection titleLabel='Acceleration of Joint' [expanded]="graphExpanded['accelerationOfJoint']"
                            (opened)="graphExpanded['accelerationOfJoint'] = true"
                            (closed)="graphExpanded['accelerationOfJoint'] = false">
      <p>acceleration graph placeholder



      </p>
    </collapsible-subsection>

  </collapsible-subsection>

    </div>

