<div id="threePos">
      

      <div>
            <p>Coupler Link Specifications</p>
            <single-input-block class="right-aligned" [input1Value]="0"
            (input1Change)="setCouplerLength($event)"
            label1="Length"
            unit1="cm"
            [showIcon]="false"></single-input-block>
            
            <div><img src='assets/icons/referencePoint.svg' style="height: 12px; width: 12px;"/><p style="display:inline-block">Fixed Reference </p>
            </div>
            <radio-block id="reference"
                  [options]="['Back', 'Center', 'Front']"
                  [initialSelection]="'Center'"
                  (selectionChanged)="setReference($event)"
                  >
            </radio-block>
      </div>
      <div>
            
            <div *ngFor='let i of [1,2,3]'>
                  
                  <!-- display header, with edit button on right if pose already has been created -->
                  
                  <div>
                        <mat-icon id="tooltip" matTooltip="Change the x and y values of the reference point of the coupler position {{i}}" [matTooltipShowDelay]='1000' class='label-help'
                        [matTooltipDisabled]='disabled'
                        >help_outline
                        </mat-icon>
                        <p style="display:inline; margin: -3px;">Position {{i}}</p>
                        <button id="trash" *ngIf='this.isPositionDefined(i)' (click)="this.deletePosition(i)">
                              <img id="icon" src='assets/icons/trash.svg' style="height: 20px; width: 20px;"/>
                        </button>                       
                  </div>
                  
                  <!-- display editable pose configuration if pose is both created AND selected -->
                  <div class='poseData' *ngIf='this.isPositionDefined(i)' >
                        <dual-input-block [input2Value]="getPosYCoord(1)"
                        (input1Change)="setPosXCoord($event, 1)"
                        (input2Change)="setPosYCoord($event, 1)"
                        tooltip="Change the x and y values of the reference point of the coupler position {{i}}"
                        label1="X"
                        label2="Y"
                        [showIcon]="false">
                  </dual-input-block>
                  <single-input-block [input1Value]="getPosAngle(1)"
                  (input1Change)="setPositionAngle($event, 1)"
                  label1="Angle"
                  unit1="deg"
                  [showIcon]="false">
            </single-input-block>
      </div>
      
      <!-- if pose has not yet been created and its the first undefined pose, show "create pose" button  -->
      <div class='positionCreate' *ngIf='this.getFirstUndefinedPosition() === i'>
            <button id="specify" (click)="this.specifyPosition(i)">Specify Position</button>
      </div> 
      
</div>
</div>
<div *ngIf='this.allPositionsDefined()' class="definedButtons">
      <button id="generateFourBar" (click)="generateFourBar()">Generate Four-Bar</button>
      <button id="removeAll"  (click)="removeAllPositions()">Remove All Positions</button>

</div>

</div>