

@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $foreground: map.get($theme, foreground);

  .settings {
    background-color: white;
    border-radius: 3px;
    width: 350px;
    float: right;
    border-top: 5px solid #3F51B5;
    box-shadow: 0 9px 5px 0 gray, 0 9px 5px 0 gray, 12px 0 15px -4px gray, -12px 0 15px -4px gray;
    opacity: 0.999;
    padding: 0.5px 0px 0.5px 0px;
    margin-top: 30px;
    margin-right: 5px;
  }
  #angleUnits, #globalUnits{
    display: flex;
    justify-content: center;
  }
  p{
    margin: 5px 0;
  }
  #grid, #units{
    font-size: 16px;
    margin-left: 5px;
  }
  #units{
    margin-bottom: 5px;
  }
  h3{
    margin-bottom: 5px;
    margin-top: 0.5px;
    font-family: Roboto, "Helvetica Neue", serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
  }
  .units{
    font-family: Roboto, "Helvetica Neue", serif;
    font-weight: normal;
    color: #000000;
  }
  .tooltip {
    color: #3f51b5;
    font-size: 18px;
    vertical-align: middle;
    padding-top: 2px;
  }
  .remover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Ensure the overlay is above other content */
  }
  #angleUnits{
    margin-bottom: 10px;
  }
}
