
<div>
    <panel-section>
        <title-block icon='expand_more' description=''
    >Edit Link
    </title-block>
    </panel-section>
    <panel-section>
        <collapsible-subsection titleLabel='Basic Settings' [expanded]="sectionExpanded['LBasic']"
        (opened)="sectionExpanded['LBasic'] = true"
        (closed)="sectionExpanded['LBasic'] = false"> test 1
        </collapsible-subsection>
        <collapsible-subsection titleLabel='Components' [expanded]="sectionExpanded['LComponent']"
        (opened)="sectionExpanded['LComponent'] = true"
        (closed)="sectionExpanded['LComponent'] = false"> test 2
        </collapsible-subsection>
        <collapsible-subsection titleLabel='Visual Settings' [expanded]="sectionExpanded['LVisual']"
        (opened)="sectionExpanded['LVisual'] = true"
        (closed)="sectionExpanded['LVisual'] = false"> test 3
        </collapsible-subsection>
    </panel-section>


</div>