

@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $typography-config: mat.get-typography-config($theme);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

.app-edit-panel-container{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    z-index: 1;
    position: absolute;
    max-height:fit-content;
}
  #editJoint {
    background-color: #f4f4f4;
    padding: 20px;
  }
  .editHeader {
    border: 2px solid white;
    padding: 10px;
    background-color: white;
  }
  
}
#default-view {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:100%;
}