

@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $typography-config: mat.get-typography-config($theme);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

  :host {
    .app-edit-panel-container {
      width: 250px;
      gap: 10px;
      margin-top: 10px;
      margin-left: 10px;
      padding-bottom: 20px; /* Add padding to move the buttons up */

      overflow: auto; /* Ensure overflow functionality is maintained */

      /* Hide scrollbar for Chrome, Safari, and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge, and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    #tri-button {
      .groupedButtons {
        margin-bottom: 20px; /* Add margin to move buttons up */
      }
    }
  }


  #editJoint {
    background-color: #f4f4f4;
    padding: 20px;
  }
  .editHeader {
    border: 2px solid white;
    padding: 10px;
    background-color: white;
  }

}
#default-view {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:100%;

  .header{
    display: flex;
    padding: 3px;
    justify-content: space-between;
    //width: 100px;
    background-color: white;
    margin-left: -3px;
  }
}
