

@use 'sass:map';
@use '@angular/material' as mat;


@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .app-analysis-panel-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1;
    position: absolute;
  }
  .analysisHeader {
    border: 2px solid white;
    padding: 5px;
    background-color: white;
  }
}
#default-view {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:400px;
  gap: 10px;
  margin: 10px;
  padding-left: 10px;
}
#import-export{
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:100%;
  gap: 10px;
  margin: 10px;
  padding: 10px;
}
import-data, export-data{
  navbutton_background_color: #007bff;
  padding: 10px;
}

*{
  font-family: "Roboto", serif;
  letter-spacing: 0.25px;
}

h3{
  font-weight: normal;
  margin-top: 0px;
  padding-top: 10px;
}
