<div class="app-analysis-panel-container">
  @switch (getSelectedObjectType()){
    @case('JointInteractor'){
      <app-joint-analysis-panel></app-joint-analysis-panel>
    }
    @case('LinkInteractor'){
      <app-link-analysis-panel></app-link-analysis-panel>
    }
    @case('CompoundLinkInteractor'){
      <app-compound-link-analysis-panel></app-compound-link-analysis-panel>
    }
    @case('ForceInteractor'){
      <p>Force Selected</p>
    }
    @default(){
      <div id="default-view">
        <h3>Analysis Help</h3>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header id="instructions">

              <p>This linkage is not valid and cannot be analyzed. Make sure all the requirements are met:</p>
            </mat-expansion-panel-header>
            <mat-list class='example-list-wrapping'>
              <mat-list-item lines='3'>
                <span matListItemTitle>Must have one input</span>
                <span>Mechanisms should have 1 and only one joint defined as a input.</span>
              </mat-list-item>
              <mat-list-item lines='2'>
                <span matListItemTitle>At least one joint is grounded</span>
                <span>An input joint doubles as a ground joint.</span>
              </mat-list-item>
              <mat-list-item lines='3'>
                <span matListItemTitle>No orphaned joints</span>
                <span>
          Joints that are not a part of any link are orphaned. Remove or connect
          orphaned joints.
        </span>
              </mat-list-item>
              <mat-list-item lines='3'>
                <span matListItemTitle>No free floating links</span>
                <span>
          Links that are not part of a grounded joint are free floating. Remove or
          connect free floating links.
        </span>
              </mat-list-item>
              <mat-list-item lines='3'>
                <span matListItemTitle>Degress of freedom must be one</span>
                <span>DOF = 3*(#_of_Links-1) - 2*(#_of_joints). Count both revolute joints and slider joints.</span>
              </mat-list-item>
              <mat-list-item lines='3'>
                <span matListItemTitle>Welded links count as one link</span>
                <span>
          If two or more links are welded together at a joint they should only be counted as 1 link.
        </span>
              </mat-list-item>
            </mat-list>

          </mat-expansion-panel>


        </mat-accordion>
      </div>
    }
  }
  <div id="import-export">
    <p>Use this panel to import and export kinematic data!</p>
    <import-data></import-data>
    <export-data></export-data>
  </div>

</div>
