#dual-button {
  display: flex;
  justify-content: space-between;

  .traceButton,
  .forceButton {
    flex: 1;
    margin: 0 10px;
    //padding-top: 3px;
    //padding-bottom: 5px;
  }

  button {
    margin:0 auto;
    display:block;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #e8eaf6;
    font-weight: bold;
    font-size: 12.8px;
    color: #3F51B5;
    border: none;
    padding: 0 5px;
  }

  button:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

  .buttonDisabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
