#dual-button {
  display: flex;
  justify-content: space-between;

  .traceButton,
  .forceButton {
    flex: 1;
    margin: 0 10px;
    padding-top: 3px;
    padding-bottom: 5px;
  }

  button {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;

    .alignVertical {
      display: flex;
      flex-direction: column; /* Ensure icon and text are stacked */
      align-items: center; /* Center items horizontally */

      img {
        width: 24px;
        height: 24px;
        margin-bottom: 1px; /* Space between icon and text */
      }

      span {
        font-size: 14px; /* Adjust text size if needed */
      }
    }

    .mat-icon {
      margin-right: 8px;
    }
  }

  .buttonDisabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
