@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  #tri-button {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically if needed */
    width: 100%; /* Ensure the container takes full width */
    gap: 10px; /* Optional: add some spacing between buttons */

    path {
      fill: mat.get-color-from-palette($primary-palette, 500);
    }

    .groupedButtons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px; /* Add spacing between the buttons */
    }

    button {
      margin: 0; /* Adjust margin as needed */
    }

    .button3 {
      padding: 0;
      flex-grow: 1;
      text-align: center;
    }

    .buttonDisabled {
      path {
        fill: #969696;
      }
      border-color: #bbbbbb !important;
    }
  }
}
