
<mat-toolbar class='toolbar'>
  <img
    class='pmksImage'
    alt='PMKS+'
    src='assets/logo.svg'
    onClick='window.location.reload()'
  />
  <!-- NEW FILE -->
  <button mat-button class="toolbar-button" onclick="window.open(window.location.origin, '_blank'); logEvent(this.analytics, 'new_file');"
          matTooltip='Open a new tab with a blank project'
          matTooltipShowDelay='1000'>
    <mat-icon>note_add</mat-icon>
    New
  </button>

  <!-- OPEN FILE -->
  <button mat-button class="toolbar-button"
          matTooltip='Open a linkage from a file on your device'
          matTooltipShowDelay='1000'>
    <mat-icon>file_open</mat-icon>
    Open
  </button>

  <!-- TUTORIALS -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Tutorials');"
          matTooltip='Show the library of available linkages'
          matTooltipShowDelay='1000'>
    <mat-icon>ondemand_video</mat-icon>
    <a style="text-decoration:none; color:black;" href="https://pmks.mech.website/pmks-web-how-to-videos/" target="_blank">Tutorials</a>
  </button>

  <!-- TEMPLATES -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Templates');"
          matTooltip='Show the library of available linkages'
          matTooltipShowDelay='1000'>
    <mat-icon>apps</mat-icon>
    Templates
  </button>

  <!-- SAVE -->
  <button mat-button class="toolbar-button"
          matTooltip='Save this linkage to your device'
          matTooltipShowDelay='1000'>
    <mat-icon>save</mat-icon>
    Save
  </button>

  <!-- SHARE -->
  <button mat-button class="toolbar-button"
          matTooltip='Copy a URL to clipboard that contains your linakge'
          matTooltipShowDelay='1000'>
    <mat-icon>link</mat-icon>
    Share Project
  </button>

  <span class="spacer"></span>

  <!-- SETTINGS -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Settings');"
          matTooltip='Change Linkage Settings'
          matTooltipShowDelay='1000'>
    <mat-icon>settings</mat-icon>
    Settings
  </button>


</mat-toolbar>
<div>
  <!-- this switch case is responsible for opening and closing each panel -->
  @switch(getSelected()){
    @case (''){
    }
    @case ('Settings'){
      <app-settings-panel></app-settings-panel>
    }
    @case ('Templates'){
      <app-templates-panel></app-templates-panel>
    }
    @case ('Tutorials'){
      <app-tutorials-panel></app-tutorials-panel>
    }
  }
</div>
