<div class="toggle-container">
  <span class="label">{{ label }}</span>
  <mat-icon matTooltip='{{ this.tooltip }}' [matTooltipShowDelay]='1000' class='label-help' [ngClass]="iconClass">help_outline
  </mat-icon>
  <div class="switch-container">
    <label class="switch" (click)="toggle()">
      <input type="checkbox" [(ngModel)]="value" (change)="toggle()">
      <span class="slider"></span>
      <span class="tick">&#10003;</span>
      <span class="cross">&#10005;</span>
    </label>

  </div>
</div>
