@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $typography-config: mat.get-typography-config($theme);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
}

#threePos {
  background-color: white;
  border-radius: 3px;
  margin-left: 5px;
  }

  .scroll-container {
    max-height: calc(100vh - 150px);
    overflow:hidden;
    overflow-y:auto;
  }

  .scroll-container::-webkit-scrollbar {
  width: 8px;
  }

  .scroll-container::-webkit-scrollbar-track {
  background: rgba(63, 81, 181, 0.9);
  }

  .scroll-container::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.22);
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 0.67);
  }

  .scroll-container::-webkit-scrollbar-button {
  display: none;
  }

  /* Firefox Browsers*/
  @supports (-moz-appearance: none) {
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(63, 81, 181, 0.9) #f1f1f1;
  }
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .input-container {
  display: flex;
  align-items: center;
  }


  .icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 1px;
    margin-bottom: -12px;
  }

.label {
    margin-left: 1px;
    margin-right: auto;
    min-width:100px;
    max-width: 100px;
    margin-bottom: -15px;
  }

  .left-aligned {
    margin-right: auto; /* Pushes this element to the left */
  }

  hr.solid {
    border-top: 1px solid rgba(63, 81, 181, 0.1);
  }

  hr.solid2 {
    border-top: 1px solid rgba(63, 81, 181, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-aligned {
    display: flex;
    align-items: center;
    margin-right: -45px;
    margin-top: 10px;

  }

  .subtitle {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
  }

  #lengthAndAngle {
    max-height: 20px;
  }

  .row {
    display: flex;
  }


  #trash {
    background-color: white;
    border: none;
    display: inline-block;
    margin-left: -8px;
  }
#generateSixBar{
  margin:0 auto;
  display:inherit;
  background-color: white;
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 3px;
  margin-bottom: 10px;
  background-color: #e8eaf6;
  color: #3F51B5;
  border: none;
}

#generateSixBar:hover{
  color: #e8eaf6;
  background-color: #3F51B5;
}

  #generateFourBar{
    margin:0 auto;
    display:inherit;
    background-color: white;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 8px;
    background-color: #e8eaf6;
    font-weight: bold;
    color: #3F51B5;
    border: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  #generateFourBarGrey{
    margin:0 auto;
    display:inherit;
    background-color: white;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #e8eaf6;
    color: #808080;
    border: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #generateFourBar:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

  #removeAll{
    margin:0 auto;
    display:inherit;
    background-color: #ffcccb;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: 1px solid red;
    color: red;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
  }

  #removeAllGrey{
    margin:0 auto;
    display:inherit;
    background-color: #e8eaf6;
    color: #808080;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    // margin-top: 12px;
    margin-bottom: 6px;
    border: none;
  }

  #removeAll:hover {
    color: #ffcccb;
    background-color: red;
  }

  #specify {
    margin:0 auto;
    display:block;
    background-color: white;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 20px;
    background-color: #e8eaf6;
    font-weight: bold;
    font-size: 12.8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #3F51B5;
    border: none;
  }

  #specify:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

  #lengthTooltip {
    color: #3f51b5;
    font-size: 16px;
    padding-top: 2px;
    display: flex;
    margin-left: -47px;
    margin-top: 6px;
    margin-bottom: -15px;
  }

  #fixedReferenceTooltip {
    color: #3f51b5;
    font-size: 16px;
    padding-top: 2px;
    display: flex;
    margin-left: 142px;
    margin-top: -19px;
  }

  #tooltip {
    color: #3f51b5;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 2px;
    margin-left: 0px;
    margin-bottom: -4px;
  }

  #reference {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .referenceJointSelect {
    height: 28px;
    margin: 2px;
    background-color: #e8eaf6;
    color: #3F51B5;
    border: none;
    border-radius: 3px;
  }

  .referenceJointSelect:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

