@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $typography-config: mat.get-typography-config($theme);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
}

#threePos {
  background-color: white;
  border-radius: 3px;
  margin-left: 5px;
  }

  .scroll-container {
  height: 300px;
    overflow:hidden;
    overflow-y:auto;
  }

  .scroll-container::-webkit-scrollbar {
  width: 10px;
  }

  .scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  }

  .scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  }

  .scroll-container::-webkit-scrollbar-button {
  display: none;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .input-container {
  display: flex;
  align-items: center;
  }


  .icon {
  width: 15px; /* Adjust size as necessary */
  height: 15px; /* Adjust size as necessary */
  margin-right: 6px; /* Adjust spacing as necessary */
  }


  .label {
    margin-right: auto; /* Adjust spacing as necessary */
    min-width:100px;
    max-width: 100px;
  }

  .left-aligned {
    margin-right: auto; /* Pushes this element to the left */
  }

  hr.solid {
    border-top: 1px solid rgba(63, 81, 181, 0.1);
  }

  .right-aligned {
    display: flex;
    align-items: center;
    margin-right: -45px;
    margin-top: 10px;
  }

  .subtitle {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
  }

  #lengthAndAngle {
    max-height: 20px;
  }

  .row {
    display: flex;
  }


  #trash {
    background-color: white;
    border: none;
    display: inline-block;
    margin-left: -8px;
  }

  #generateFourBar{
    margin:0 auto;
    display:block;
    background-color: white;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #e8eaf6;
    color: #3F51B5;
    border: none;
  }
  #generateFourBarGrey{
    margin:0 auto;
    display:block;
    background-color: white;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #e8eaf6;
    color: #808080;
    border: none;
  }
  #generateFourBar:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

  #removeAll{
    margin:0 auto;
    display:block;
    background-color: #ffcccb;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid red;
    color: red;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
  }

  #removeAllGrey{
    margin:0 auto;
    display:block;
    background-color: #e8eaf6;
    color: #808080;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
  }

  #removeAll:hover {
    color: #ffcccb;
    background-color: red;
  }

  #specify {
    margin:0 auto;
    display:block;
    background-color: white;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #e8eaf6;
    font-weight: bold;
    font-size: 12px;
    color: #3F51B5;
    border: none;
  }

  #specify:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

  #lengthTooltip {
    color: #3f51b5;
    font-size: 16px;
    padding-top: 2px;
    display: flex;
    margin-left: -45px;
    margin-top: 6px;
  }

  #fixedReferenceTooltip {
  color: #3f51b5;
  font-size: 16px;
  padding-top: 2px;
  display: flex;
  margin-left: 138px;
  margin-top: -18.5px;
  }

  #tooltip {
    color: #3f51b5;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 2px;
    margin-left: 5px;
    margin-bottom: -4px;
  }

  #reference {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .referenceJointSelect {
    height: 28px;
    margin: 2px;
    background-color: #e8eaf6;
    color: #3F51B5;
    border: none;
    border-radius: 3px;
  }

  .referenceJointSelect:hover {
    color: #e8eaf6;
    background-color: #3F51B5;
  }

