<div class="app-sidenav-container">
    <nav class="side-nav">
        @for(tab of this.tabs; track $index){
        <button
                class ="sidenav-button"
                [ngClass]="{ 'selected': isSelected(tab.label) }"
                (click)="togglePanel(tab.label)">
                <img [src]="tab.icon" style="height:40px; width:40px">
                {{tab.label}}
        </button>
        }
    </nav>
    <div class="app-panel-container">
        @switch(getSelected()){
            @case ('Edit'){
            <app-edit-panel></app-edit-panel>
            }
            @case ('Synthesis'){
            <app-synthesis-panel></app-synthesis-panel>
            }
            @case ('Analysis'){
            <app-analysis-panel></app-analysis-panel>
            }

        }
    </div>
</div>
