@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .app-sidenav-container{
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    z-index: 0;
    position: absolute;
    top: 30px;
    max-width: 500px;
    height:auto;
    //background-color: white;
  }

  .side-nav{
    @include mat.elevation(2);
    background-color: #E8EAF6;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    left: 0px;
    height: calc(100vh - 30px);
  }


  .sidenav-button {
    margin: 0px;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    width: 4rem;
    height: 4rem;
    background-color: var(--white-secondary);
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 8pt;
    text-align: center;
  }

  .sidenav-button:hover {
    background-color: #E8EAF6;
    color: #000000;
  }

  .sidenav-button.selected {
    background-color: white;
    filter: brightness(100%);
    box-sizing: border-box;
    border-left: 5px solid #3F51B5;
  }

}

