<!-- *ngIf= open will make the panel "close" when you open a template but makes it so you have to
double click templates to open again, works for now, will need a better fix later -->
<div *ngIf=open class="focusEffect" (click)="togglePanel($event)">
  <div class="app-templates-panel-container">
    <panel-section-collapsible>
      <title-block description=''>
        <h3>Templates</h3>
      </title-block>
      <div class="gridLayout">
        <!-- Displays an image of each of the templates with an open button -->
        <div class="template">
          <p>Four-Bar</p>
          <img src='assets/templates/fourbar.gif' class="gifs"/>
          <img src='assets/templates/fourbar.jpg' class="img"/>
          <button mat-raised-button (click)="this.openTemplate('fourbar')">Open</button>
        </div>
        <div class="template">
          <p>Watt I Linkage</p>
          <img src='assets/templates/watt.gif' class="gifs"/>
          <img src='assets/templates/watt.jpg' class="img"/>
          <button mat-raised-button  (click)="this.openTemplate('watt')">Open</button>
        </div>
        <div class="template">
          <p>Watt II Linkage</p>
          <img src='assets/templates/watt2.gif' class="gifs"/>
          <img src='assets/templates/watt2.jpg' class="img"/>
          <button mat-raised-button (click)="this.openTemplate('watt2')">Open</button>
        </div>
        <div class="template">
          <p>Stephenson III Linkage</p>
          <img src='assets/templates/steph3.gif' class="gifs"/>
          <img  src='assets/templates/steph3.jpg' class="img" />
          <button mat-raised-button (click)="this.openTemplate('steph3')">Open</button>
        </div>
        <div class="template">
          <p>Crank Slider Linkage</p>
          <img src='assets/templates/slider.gif' class="gifs"/>
          <img src='assets/templates/slider.jpg' class="img"/>
          <button mat-raised-button (click)="this.openTemplate('slider');">Open</button>
        </div>
      </div>
    </panel-section-collapsible>
  </div>
</div>
