@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}

.scroll-container {
  max-height: 60vh;
  overflow:hidden;
  overflow-y:auto;
}
.scroll-container::-webkit-scrollbar {
  width: 8px;
}
.scroll-container::-webkit-scrollbar-track {
  background: rgba(63, 81, 181, 0.9);
}
.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(63, 81, 181, 0.22);
}
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 81, 181, 0.67);
}
.scroll-container::-webkit-scrollbar-button {
  display: none;
}
/* Firefox Browsers*/
@supports (-moz-appearance: none) {
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(63, 81, 181, 0.9) #f1f1f1;
  }
}

#editLink {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:100%;
  max-height:calc(90vh - 30px);;
  //overflow-y:scroll;
}

.disabled-panel {
  opacity: 0.5; /* Adjust the opacity to control the greying out effect */
  pointer-events: none; /* Disable user interactions */
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}
/*
.flex-container > * {
  margin: 5px;
}
*/
.left-aligned {
  margin-right: auto; /* Pushes this element to the left */
}

.right-aligned {
  margin-left: auto; /* Pushes this element to the right */
}

div.colors {
  width: 30px;
  height: 30px;
  margin: 7px 3px;
  border-radius: 5px;
  border: none;
  //margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.colors {
  padding:0;
  margin-top: 5px;
  margin-bottom: 0;
}

#lengthAndAngle {
  max-height: 10px;
}

.row {
  display: flex;
}

button {
  background-color: white;
  border: none;
  height: 25px;
  width: 25px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#linkComponenets {
  max-height: 100px;
  overflow-y: scroll;
}
