<svg:g appInteractable [interactor]="getInteractor()">
    @if(isGround() && !isPrismatic() && !isInput()){
        <image xlink:href='../../../assets/joint/Ground.svg'
        [attr.x]="getX()-getRadius()*5.2" 
        [attr.y]="getY()-getRadius()"
        [attr.height]="getRadius()*4.5"
        />
    }
    @if(isGround() && isInput() && !isPrismatic() && isCCW()) {
        <image xlink:href='../../../assets/joint/InputCCW.svg'
        [attr.x]="getX()-getRadius()*4.3" 
        [attr.y]="getY()-getRadius()*2.8"
        [attr.height]="getRadius()*6.5"

        />
    }
    @if(isGround() && isInput() && !isPrismatic() && !isCCW()) {
        <image xlink:href='../../../assets/joint/InputCW.svg'
        [attr.x]="getX()-getRadius()*4.3" 
        [attr.y]="getY()-getRadius()*2.8"
        [attr.height]="getRadius()*6.5"
        
        />
    }
    @if(!isInput() && isPrismatic()) {
        <image xlink:href='../../../assets/joint/SliderPill.svg'
        [attr.x]="getX()-getRadius()*4.6" 
        [attr.y]="getY()-getRadius()*1.4"
        [attr.height]="getRadius()*3"
        />
        <image xlink:href='../../../assets/joint/SliderTrackMid.svg'
        [attr.x]="getX()-getRadius()*11" 
        [attr.y]="getY()-getRadius()*2.5"
        [attr.height]="getRadius()*5"
        />

    }
    @if(isInput() && isPrismatic()) {
        <image xlink:href='../../../assets/joint/SliderPillInput.svg'
        [attr.x]="getX()-getRadius()*4.6" 
        [attr.y]="getY()-getRadius()*1.4"
        [attr.height]="getRadius()*3"
        />
        <image xlink:href='../../../assets/joint/SliderTrackMid.svg'
        [attr.x]="getX()-getRadius()*11" 
        [attr.y]="getY()-getRadius()*2.5"
        [attr.height]="getRadius()*5"
        />
    }

    @if(isWelded()){
        <path 
            d='M -5.5 -5.5 H-16.5 V4.5 H-5.5 V15.5 H4.5 V4.5 H15.5 V-5.5 H4.5 V-16.5 H-5.5 V-5.5 Z'
            [attr.fill]="getColor()"
            stroke="#FFCA26"
            [attr.stroke-width]="getStrokeWidth()"
            [attr.transform]="getTranslation()"
        ></path>


    } @else {
        <svg:circle 
            [attr.cx]="getX()"
            [attr.cy]="getY()"
            [attr.r]="getRadius()"
            [attr.fill]="getColor()"
            stroke="#FFCA26"
            [attr.stroke-width]="getStrokeWidth()"
        />
    }
    <!-- Joint name -->
    <svg:text class = "joint-name"
        [attr.x]="getX()" 
        [attr.y]="getY()" 
        alignment-baseline="middle" 
        text-anchor="middle">
        {{this.joint.id}}
    </svg:text>



</svg:g>