<div class="app-analysis-panel-container">
        @switch (getSelectedObjectType()){
            @case('JointInteractor'){
                <app-joint-analysis-panel></app-joint-analysis-panel>
            }
            @case('LinkInteractor'){
                <app-link-analysis-panel></app-link-analysis-panel>
            }
          @case('CompoundLinkInteractor'){
            <app-compound-link-analysis-panel></app-compound-link-analysis-panel>
          }
            @case('ForceInteractor'){
                <p>Force Selected</p>
            }
            @default(){
              <div id="default-view">
                <title-block>Analysis Panel</title-block>
                <p class="subtitle">Please select a joint or a link to start analyzing!</p>
            </div>            
          }
        }
  <div id="import-export">
    <p>Use this panel to import and export kinematic data!</p>
    <import-data></import-data>
    <export-data></export-data>
  </div>

</div>
