<div class="app-analysis-panel-container">
        @switch (getSelectedObjectType()){
            @case('JointInteractor'){
                <app-joint-analysis-panel></app-joint-analysis-panel>
            }
            @case('LinkInteractor'){
                <app-link-analysis-panel></app-link-analysis-panel>
            }
          @case('CompoundLinkInteractor'){
            <app-compound-link-analysis-panel></app-compound-link-analysis-panel>
          }
            @case('ForceInteractor'){
                <p>Force Selected</p>
            }
            @default(){
                <p>Nothing Selected</p>
            }
        }
  <export-data></export-data>
</div>
