@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $foreground: map.get($theme, foreground);

  #settings {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-top: 5px solid #3F51B5;
    box-shadow: 0 9px 5px 0 gray, 0 9px 5px 0 gray, 12px 0 15px -4px gray, -12px 0 15px -4px gray;
    opacity: 0.999;
    padding: 10px;
    margin-top: 30px;
    margin-right: 5px;
  }
    .collapsible-subsection {
      margin-bottom: 20px;

      .synthesisHeader {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      form {
        .max-width {
          max-width: 100%;
        }

        textarea {
          min-height: 100px;
        }

        .toolbar-button {
          // Your button styles here
        }

        .h3{
          margin-bottom: 5px;
          margin-top: 0.5px;
          font-family: Roboto, "Helvetica Neue", serif;
          font-weight: 500;
          font-size: 70px;
          margin-left: 5px
        }

        .a{
          display: flex;
          margin-top: 5px;
          margin-bottom: 5px;
          font-family: Roboto;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.25px;
        }

      }
    }
  }

.remover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10; /* Ensure the overlay is above other content */
}
