<div class="app-tutorials-panel-container">
    <panel-section-collapsible>
        <title-block icon='expand_more' description='' class="synthesisHeader">
            Tutorials
          </title-block>
        <div class="gridLayout">

            <!-- should have a grid layout of video tutorials made through this PMKS+ website -->
            <!-- could contain how to weld, add a force, make a mechanism, animate a mechanism, etc. -->
            <div class="vids">
                <p>Tutorial 1</p>
                <video width="320" height="240" controls>
                    <source src="movie.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
              
        </div>
    </panel-section-collapsible>
</div>
