@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);



}

#linkAnalysisPanel {
  background-color: white;
  border-top: 5px solid #3F51B5;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
  width:100%;
  max-height:calc(90vh - 30px);;
  overflow-y:scroll;
  margin:10px;
  gap:10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: visible;
}

.left-aligned {
  margin-right: auto; /* Pushes this element to the left */
}

.right-aligned {
  margin-left: auto; /* Pushes this element to the right */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-wrapper {
  flex: 0 0 calc(33.33% - 10px); /* Each button takes up approximately one-third of the container with 10px spacing */
  margin: 5px; /* Adjust the margin as needed for spacing between buttons */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start; /* Align to the left side of the screen */
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 350px;
  width: 700px;
  margin-left: 20px;
  top: 100px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: red;
}

.large-graph {
  width: 100%;
  height: 500px; /* Set the height to your desired value */
}


.referenceJointSelect{
  height: 28px;
  margin: 2px;
  background-color: #e8eaf6;
  color: #3F51B5;
  border: none;
  border-radius: 3px;
}

.referenceJointSelect:hover {
  color: #e8eaf6;
  background-color: #3F51B5;
}
