.context-menu {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #ffffff;
    z-index: 1000;
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .context-menu li {
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    position: relative;  /* Needed for positioning the icon */
  }
  
  .context-menu li:hover {
    background-color: #e7e7e7; /* Slightly darker shade on hover */
  }
  
  .context-menu li.disabled {
    color: #aaa;
    cursor: not-allowed;
    background-color: #f2f2f2;
  }
  
  .context-menu li.disabled:hover {
    background-color: #f2f2f2;
  }

  .context-menu img.disabled {
    filter: invert(54%) sepia(23%) saturate(21%) hue-rotate(356deg) brightness(89%) contrast(87%);
  }
  
  img {
    position:relative;
    height:18px;
    width:18px;
  }