<div class="app-edit-panel-container">
        @switch (getSelectedObjectType()){
            @case('JointInteractor'){
                <p>Joint Selected</p>
                <app-joint-edit-panel></app-joint-edit-panel>
            }
            @case('LinkInteractor'){
                <p>Link Selected</p>
            }
            @case('ForceInteractor'){
                <p>Force Selected</p>
            }
            @default(){
                <p>Nothing Selected</p>
            }
        }
</div>
