
<mat-toolbar class='toolbar'>
    <img
    class='pmksImage'
    alt='PMKS+'
    src='assets/logo.svg'
    onClick='window.location.reload()'
  /> 
  <button mat-button class="toolbar-button" onclick="window.open(window.location.origin, '_blank'); logEvent(this.analytics, 'new_file');"
  matTooltip='Open a new tab with a blank project' 
  matTooltipShowDelay='1000'>
    <mat-icon>note_add</mat-icon>
    New
  </button>

  <button mat-button class="toolbar-button"
  matTooltip='Open a linkage from a file on your device'
  matTooltipShowDelay='1000'>
    <mat-icon>file_open</mat-icon>
    Open
  </button>

  <button mat-button class="toolbar-button"
  matTooltip='Show the library of available linkages'
  matTooltipShowDelay='1000'>
    <mat-icon>apps</mat-icon>
    Templates
  </button>

  <button mat-button class="toolbar-button"
  matTooltip='Save this linkage to your device'
  matTooltipShowDelay='1000'>
    <mat-icon>save</mat-icon>
    Save
  </button>

  <button mat-button class="toolbar-button"
  matTooltip='Copy a URL to clipboard that contains your linakge'
  matTooltipShowDelay='1000'>
    <mat-icon>link</mat-icon>
    Share Project
  </button>

  <span class="spacer"></span>

  <button mat-button class="toolbar-button"
  matTooltip='Change Linkage Settings' 
  matTooltipShowDelay='1000'>
    <mat-icon>settings</mat-icon>
    Settings
  </button>

  <button mat-button class="toolbar-button"
  matTooltip='Get Support from our team' 
  matTooltipShowDelay='1000'>
    <mat-icon>help</mat-icon>
    Help / Feedback
  </button>
  
</mat-toolbar>