@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}
.single-input-block {
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding-right: 5px;

}

.input-sections {
  display: flex;
  float: left;
  flex-direction: row;
  margin-left: auto;
}

.input-section {
  margin-right: 10px; /* Adjust the margin as needed */
  margin-bottom: 10px;
}


label {
  margin-right: 2px; /* Adjust the margin as needed */
}

mat-icon {
  color: #3f51b5;
  font-size: 18px;
  vertical-align: middle;
  padding-top: 2px;
}
