

@use 'sass:map';
@use '@angular/material' as mat;



 .app-templates-panel-container{
  background-color: white;
  border-radius: 3px;
  width:800px;
  margin-right: 50px;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
  margin-top: 30px;
  display: flex; /* Use flexbox to ensure content fills the space */
  //align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

.template {
  background-color: white;
  border-top: 5px solid #3F51B5;
  //height: 75px;
  background-color: white;
  margin-bottom: 15px;
  display: flex; /* Use flexbox to ensure content fills the space */
  //align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */


  cursor: pointer;

      //If the card  is hovered, hide the static image of the GIF
      &:hover .static {
        opacity: 0;
        //Animate the change to opacity
        transition: opacity 0.3s ease-in-out;
      }
      .static {
        //position:fixed;
        opacity: 1;
      }

    button {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 10px;
    }
}
  
img {
  height: 100px;
}

.gridLayout {
  display: grid;
      //Make sure items always fill the entire space, make it responsive
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      //Add a 10px gap
      grid-gap: 20px;
      padding: 24px;
      padding-top: 0px;
}

