@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}

  .collapsibleSubsection {
    .panel-header {

      padding: 0 10px;
      border-style: none;
      height: 30px;

      width: 100%;
      //border-color: mat.get-color-from-palette($primary-palette, 500);
      //Hide left and right borders
      //border-left: 0;
      //border-right: 0;
      //background-color: mat.get-color-from-palette($primary-palette, 50);
      //border-width: 1px;
      font-family: Roboto;
      color: #3f51b5;
      font-weight: 500;
      background-color: #e8eaf6;
      display: flex;
      line-height: 18px;
      font-size: 16px;
      letter-spacing: 0.25px;
      justify-content: space-between;
      align-items: center;
      //@include mat.typography-level($typography-config, 'subtitle-2');
      //color: mat.get-color-from-palette($primary-palette, 500);
      cursor: pointer;
      //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

      //On hover, change background color
      &:hover {
        background-color: #3f51b5;
        color: #e8eaf6;
      }

      mat-icon {
        transition: transform 0.15s ease-in-out;

        &.rotate180 {
          transform: rotate(180deg);
        }
      }

    }

    .panel-content {
      //padding: 10px 15px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      transition: transform 0.15s ease-in-out;
      overflow-wrap: anywhere;


      &.hidden {
        transform: scaleY(0);
        height: 0;
      }
    }

  }
