@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}
.dual-input-block {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.input-sections {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type=number] {
  -moz-appearance: textfield;
}


.disabled-input {
  pointer-events: none;
  background-color: #f0f0f0;
  color: #a0a0a0;
  cursor: not-allowed;
}

label {
  margin-right: 5px;
}

mat-icon {
  color: #3f51b5;
  font-size: 18px;
  vertical-align: middle;
  padding-top: 2px;
}
