

@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $typography-config: mat.get-typography-config($theme);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

.app-synthesis-panel-container{
  background-color: white;
  box-shadow: 3px 3px 3px gray;
  width: 800px;
}
  .synthesisHeader {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    width: 10px;
    align-items: center;
    background-color: white;
    font-size: 100px;
  }
}

panel-section-collapsible {
  background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 800px;

}

div {
  background-color: white;
    border-top: 5px solid #3F51B5;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px gray;
    width: 260px;
  }
