/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --white-background: #ffffff;
    --light-primary: #407ba7;
    --light-secondary: #004e89;
    --light-tertiary: #002962;
    --light-fourth: #00043a;
    --light-warning: #ff002b; 


}

  input {
    width: 40%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 75%);
    background-color: rgba(63,81,181, 10%);
    border-radius: 3px 3px 0 0;
    height: 25px;
  }

  p {
    margin-left: 6px;
  }

  .subtitle {
    font-size: 12px;
    margin: 2px 0 2px 6px;
  }
