/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --white-background: #ffffff;
    --light-primary: #407ba7;
    --light-secondary: #004e89;
    --light-tertiary: #002962;
    --light-fourth: #00043a;
    --light-warning: #ff002b; 


}