/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --white-background: #ffffff;
    --light-primary: #002962;
    --light-accent: #fdc500;
    --light-warning: #a0001c; 


}