/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --white-background: #ffffff;
    --light-primary: #002962;
    --light-accent: #fdc500;
    --light-warning: #a0001c;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  input {
    width: 40%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 75%);
    background-color: rgba(63,81,181, 10%);
    border-radius: 3px 3px 0 0;
    height: 25px;
  }

  p {
    margin-left: 6px;
  }

  .subtitle {
    display: flex;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .25px;
    color: grey;
    font-size: 14px;
    margin: 5px 5px 6px 14px;
  }

  title-block {
    font-size: 20px;
    font-weight: 500;
  }

  div.app-panel-container, div.app-synthesis-panel-container {
    width:300px;
  }

  p, label, input, dual-input-block, single-input-block {
    color: #263037;
  }