@use '../node_modules/@angular/material' as mat;

@use 'src/app/components/toolbar/toolbar.component.scss' as toolbar;
@use 'src/app/components/sidenav/sidenav.component.scss' as sidenav;
@use 'src/app/components/animationbar/animationbar.component.scss' as animationbar;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$amber-palette);


$my-caption: mat.define-typography-level(
        $font-family: Roboto,
          //$font-weight: 400,
        $font-size: 12px, //$line-height: 1.5, //$letter-spacing: 0.01px,
);

$my-body: mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 14px,
        $line-height: 18px,
        $letter-spacing: 0.25px,
);

$my-input: mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 300,
        $font-size: 14px,
        $line-height: 18px,
        $letter-spacing: 0.25px,
);


$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
    ),
    typography: mat.define-typography-config(
        $caption: $my-caption,
        $body-2: $my-body,
        $body-1: $my-input),
    density: 0,
));

@include mat.all-component-themes($my-theme);
@include toolbar.css($my-theme);
@include sidenav.css($my-theme);
@include animationbar.css($my-theme);